<h1>Merchant Coupons</h1>

<%= link_to 'Create a new coupon', new_merchant_coupon_path(@merchant) %>

<section id="active-coupons">
  <h1> Active Coupons </h1>
  <% @merchant.active_coupons.each do |coupon| %>
    <div id="coupon-<%= coupon.id %>">
      <h3> Name: <%= link_to "#{coupon.name}", merchant_coupon_path(@merchant, coupon) %> </h3>
      <p> Code: <%= coupon.code %> <p>
      <p> Discount: <%= coupon.formatted_disc %> <p>
    </div>
  <% end %> 
</section>

<section id="inactive-coupons">
  <h1> Inactive Coupons </h1>
  <% @merchant.inactive_coupons.each do |coupon| %>
    <div id="coupon-<%= coupon.id %>">
      <h3> Name: <%= link_to "#{coupon.name}", merchant_coupon_path(@merchant, coupon) %> </h3>
      <p> Code: <%= coupon.code %> <p>
      <p> Discount: <%= coupon.formatted_disc %> <p>
    </div>
  <% end %> 
</section>