<h1>New Coupon</h1>

<%= form_with model: [@merchant, @coupon], data: { turbo: false }, local: true do |f| %>
  <p><%= f.label :name, 'Name:', value: nil %></p>
  <p><%= f.text_field :name %></p>

  <p><%= f.label :code, 'Code:', value: nil %></p>
  <p><%= f.text_field :code %></p>

  <p><%= f.label :disc_int, 'Discount Amount:', value: nil %></p>
  <p><%= f.number_field :disc_int %></p>

  <p><%= f.label :disc_type, 'Discount Type:', value: nil %></p>
  <p><%= f.select(:disc_type, [['%', 0], ['$', 1]]) %></p>

     <%= f.submit "Create Coupon", class: "bg-gray-300 text-gray-800 py-2 px-4 rounded hover:bg-gray-400" %>
<% end %>