<h2> Coupon Information </h2>

<p>Name: <%= @coupon.name %></p>
<p>Code: <%= @coupon.code %></p>
<p>Discount: <%= @coupon.formatted_disc %></p>
<p>Number of Uses: <%= @coupon.successful_uses_count %></p>
<p>Status: <%= @coupon.status.capitalize %></p>

<section class="status_update" >
  <% if @coupon.status == "inactive" %>
    <%= button_to "Activate Coupon", 
        merchant_coupon_path(@merchant, @coupon), 
        method: :patch,
        params: {status: "active"} %>
  <% elsif @coupon.status == "active" %>
    <%= button_to "Deactivate Coupon", 
        merchant_coupon_path(@merchant, @coupon),
        method: :patch,
        params: {status: "inactive"} %>
  <% end %>
</section>