<h1>Admin Dashboard</h1>

<%= link_to 'Merchants', admin_merchants_path , method: :get %>
<%= link_to 'Invoices', admin_invoices_path , method: :get %>

<div id="top-customers">
  <h1> Top Customers </h1>
  <ol><% @top_5_customers.each do |customer| %>
    <div id="customer-<%= customer.id %>">
      <li> <%= customer.name %> - <%= customer.transactions.count %> purchases</li>
    </div>
  <% end %> </ol>
</div>

<div id="incomplete-invoices">
  <h1> Incomplete Invoices </h1>
  <ul><% @incomplete_invoices.each do |invoice| %>
    <div id="invoice-<%= invoice.id %>">
      <li> <%= link_to "Invoice #{invoice.id}", admin_invoice_path(invoice.id) %> </li>
    </div>
  <% end %> </ul>
</div>