<h1>Invoice Show Page</h1>

<p>Invoice ID: <%= @invoice.id %></p>
<p>Invoice Status: <%= @invoice.status %></p>
<p>Invoice created on: <%= @invoice.format_date %></p>
<p>Customer Name: <%= @customer.first_name %> <%= @customer.last_name %>

<h3>Invoice Items</h3>
<% @invoice.invoice_items.each do |invoice_item|%>
  <p><%= invoice_item.item.name %></p>
  <p><%= invoice_item.quantity %></p>
  <p><%= invoice_item.unit_price %></p>
  <p><%= invoice_item.status %></p>
<% end %>

