<h1>Invoice Show Page</h1>

<p>Invoice ID: <%= @invoice.id %></p>
<p>Invoice Status: <%= @invoice.status %></p>
<p>Invoice created on: <%= @invoice.format_date %></p>
<p>Customer Name: <%= @customer.first_name %> <%= @customer.last_name %>

<h3>Invoice Items</h3>
<% @invoice.invoice_items.each do |invoice_item|%>
  <div id="invoice-item<%= invoice_item.id %>">
    <p>Items Name: <%= invoice_item.item.name %></p>
    <p>Quantity: <%= invoice_item.quantity %></p>
    <p>Total Price: <%= invoice_item.unit_price %></p>
    <p>Invoice Items Status: <%= invoice_item.status %></p>

    <%= form_with url: merchant_invoice_item_path(params[:merchant_id], invoice_item.id), method: :patch, data: { turbo: false } do |f| %>
      <%= f.label :status, "Status" %>
      <%= f.select :status, ["pending", "packaged", "shipped"], selected: invoice_item.status %>
      
      <%= f.submit "Update Item Status" %>
    <% end %>
  </div>
<% end %>

<div id="total-revenue">
  <h3>Total Revenue from Invoice <%= @invoice.id %></h3>
  <p>Revenue from All Items: $<%= @total_revenue %><p>
</div>
