<h1>Merchants</h1>
<h3> <%= link_to 'New Merchant', 
         new_admin_merchant_path, 
         method: :get 
     %> </h3> <br>

<section class="enabled" >
  <h2>Enabled Merchants:</h2>
  <% @merchants.each do |merchant| %>
    <% if merchant.status == "Enabled" %>
      <%= render partial: 'admin/merchants/merchant', 
          locals: { merchant: merchant } %>
    <% end %>
  <% end %>
</section>

<section class="disabled">
  <h2>Disabled Merchants:</h2>
  <% @merchants.each do |merchant| %>
    <% if merchant.status == "Disabled" %>
      <%= render partial: 'admin/merchants/merchant', 
          locals: { merchant: merchant } %>
    <% end %>
  <% end %>
</section>

<section class="top-merchants"> 
  <h2> Top Merchants: </h2>
  <ul> <% @merchants.top_five_merchants.each do |merchant| %>
    <li> <%= link_to "#{merchant.name}", 
             admin_merchant_path(merchant) %> - 
         <%= number_to_currency(merchant.total_revenue / 100.00) %> 
             in sales
         <%= "Top selling date for #{merchant.name} was 
             #{merchant.invoices.best_day.strftime("%m/%d/%y")}" %>
      <% end %>
    </li>
  </ul>
</section>