<h1> <%= @merchant.name %> Items </h1>

<%= link_to 'Create a New Item', 
    new_merchant_item_path(@merchant) %>

<section class="enabled-items" >
<h2>Enabled Items:</h2>
  <% @merchant.items.each do |item| %>

    <% if item.status == "Enabled" %>
      <%= render partial: 'merchant/items/item', 
          locals: { item: item } %>
    <% end %>

  <% end %>
</section>

<section class="disabled-items" >
<h2>Disabled Items:</h2>
  <% @merchant.items.each do |item| %>

    <% if item.status == "Disabled" %>
      <%= render partial: 'merchant/items/item', 
          locals: { item: item } %>
    <% end %>

  <% end %>
</section>

<h3>Top 5 Items:</h3>
<ol>
  <div id="top-5-items">
    <% @merchant.top_five_items.each do |item| %>
      <li><p><%= link_to item.name, merchant_item_path(@merchant, item) %></p>
      <p>Total Item Revenue: <%= item.total_revenue %></p>
      <p>Top selling date for <%= item.name %> was <%= item.top_selling_day %></p></li>
    <% end %>
  </div>
</ol>
