<h1><%= @merchant.name %> Items</h1>

<%= link_to 'Create a New Item', new_merchant_item_path(@merchant) %>

<% @items.each do |item| %>
  <div id="item-<%= item.id %>">
    <h3><%= item.name %></h3>
    <p>Description: <%= item.description %></p>
    <p>Price: <%= item.unit_price %></p>
    <p>Status: <%= item.status %></p>
    <% if item.status == "Enabled" %>
      <%= button_to 'Disable', merchant_item_path(@merchant, item), method: :patch, params: {status: "Disabled"} %>
    <% else %>
      <%= button_to 'Enable', merchant_item_path(@merchant, item), method: :patch, params: {status: "Enabled"} %>
    <% end %>
  </div>
<% end %>


<h3>Enabled Items:</h3>
<section id="enabled-items">
  <ol>
    <% @items.each do |item| %>
      <% if item.status == 'Enabled' %>
        <li>
          <p>Item ID: <%= item.id %></p>
          <p>Item Name: <%= item.name %></p>
        </li>
      <% end %>
    <% end %>
  </ol>
</section>

<h3>Disabled Items:</h3>
<section id="disabled-items">
  <ol>
    <% @items.each do |item| %>
      <% if item.status == 'Disabled' %>
        <li>
          <p>Item ID: <%= item.id %></p>
          <p>Item Name: <%= item.name %></p>
        </li>
      <% end %>
    <% end %>
  </ol>
</section>

<h3>Top 5 Items:</h3>
<ol>
  <div id="top-5-items">
    <% @merchant.top_five_items.each do |item| %>
      <li><p><%= link_to item.name, merchant_item_path(@merchant, item) %></p>
      <p>Total Item Revenue: <%= item.total_revenue %></p>
      <p>Top selling date for <%= item.name %> was <%= item.name %></p></li>
    <% end %>
  </div>
</ol>
