<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-4">
  <div class="w-full flex items-center text-white mr-6">
    <span class="font-semibold text-l tracking-tight">Little Shop 7 - <%= @merchant.name %> Portal</span> 
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <%= link_to 'Dashboard', merchant_dashboard_index_path, class: "block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4" %>
      <%= link_to 'Coupons', merchant_coupons_path, class: "block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4" %>
      <%= link_to 'Invoices', merchant_invoices_path, class: "block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4" %>
      <%= link_to 'Items', merchant_items_path, class: "block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4" %>
    </div>
  </div>
</nav>